<div class="jumbotron text-center bg-warning" style='height: 300px'>
    <img src='../assets/img/burger.png' style='height: 200px' alt = 'burger'>
</div>
<div class='row'>
    <div class = 'col-md-2'></div>
    <div class='col-md-4 text-right'>
        <h2>Uneaten Burgers</h2>

        <p>
            {{#each burgers}}
            {{#unless devoured}}
            {{>burgers/burgers-block devoured=false}}
            {{/unless}}
            {{/each}}
        </p>
    </div>
    <div class='col-md-4 text-right'>
        <h2>Burgers Eaten</h2>
        <p>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burgers-block devoured=true}}
            {{/if}}
            {{/each}}
        </p>
    </div>
    <div class = 'col-md-2'></div>

</div>
<div class = 'text-center mb-5'>
<h2>Add a Burger</h2>

<div class="form-group">
    <input type="text" id="b" name="burger_name">
</div>
<button class='burgers-submit btn btn-danger'>Add Burger</button>

</div>
